*{
    
    text-align: center;
    box-sizing: border-box;
}

/* --------------------------------------------- */
/* header */

body{
    font-family: Tahoma, Verdana, Geneva, sans-serif;
    background-color: black;
    color: rgb(0, 255, 76);
}

header{
    text-align: center;
    border-bottom: 1px solid green;
}

header h1{
    font-size: 1.5em;
    margin: 10px auto;
}

header h2{
    font-size: 0.9em;
    margin: 10px auto;
}

/* --------------------------------------------- */
/* main */

main{
    margin: 5px auto;
}

.ingresoTexto, .resultado{
    text-align: center;
    margin: 2px auto;
    padding: 10px;
}

/* label{
    font-size: 0.75em;
    font-weight: ;
} */

textarea{
    margin: 10px auto;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
}

button{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    width: 150px;

}

/* --------------------------------------------- */
/* footer */

footer{
    border-top: 1px solid green;
}

footer p{
    margin: 10px auto;
    padding: 10px;
    font-size: 0.9em;
}